/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
/* body {

} */


/* ! Увага в цій роботі часто використані такі значення як виключення щоб не було висячих відступів 
! ми ще не вивчали псевдокласи за допомогою яких це робиться правильно */
/* приклад */
/* .clothing-text p~p {
  margin-top: 20px;
} */
/* ! нагадую відступи більш правильно робити від лівого об'єкта до правого
!  від верхнього до нижнього */
/* приклад */
/* .clothing-text p{
  margin-bottom: 20px;
  margin-right: 30px;
} */



header,
footer {
  padding: 50px 0;
}



.hero-title,
.title-footer {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

/*! Основні стилі секція 1 / 2  */
.projects,
.busines-plan {
  color: #7D7D7D;
  font-family: 'Inter', sans-serif;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}

.title-small,
.sub-title,
.title {
  color: #37393F;
}

.sub-title {
  padding-left: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  min-height: 22px;
  background: url(../img/square.svg) 0 5px / 12px 12px no-repeat;
  display: inline-block;
}

.title-small {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 18px;
  line-height: 1.46;
}

/*!====================== секція 1 =============*/

/* .busines-plan {} */

/* відцентрований обмежуючий контейнер з відступами безпеки */
.busines-plan-container {
  max-width: 703px;
  padding: 150px 15px 145px 15px;
  /*
   padding-top: 150px;
    padding-right: 15px;
    padding-bottom: 145px;
    padding-left: 15px;
  */
  margin: 0 auto;
}

.busines-plan-sub-title {
  margin-bottom: 16px;
}

.busines-plan-title {
  margin-bottom: 20px;
}

.busines-plan-text {
  margin-bottom: 20px;
}

/* будуть висячі відступи */
/* .busines-plan-text p{
    margin-bottom: 23px;
} */

/* варіант без них */
.busines-plan-text p~p {
  margin-top: 15px;
}

.busines-plan-list {
  color: #37393F;
  margin-bottom: 43px;
}

/* будуть висячі відступи */
/* .busines-plan-list li {
  margin-bottom: 23px;
} */

/* варіант без них */
.busines-plan-list li~li {
  margin-top: 23px;
}

.busines-plan-list-item {
  padding-left: 35px;
  line-height: 1.5;

  min-height: 33px;
  background: url(../img/checked.svg) 0 0 / 27px 27px no-repeat;
}


.busines-plan-advantages {
  margin-bottom: 37px;
}

/* будуть висячі відступи */
/* .busines-plan-advantages li{
  margin-right: 21px;
} */

/* варіант без них */
.busines-plan-advantages li~li {
  margin-left: 21px;
}

.busines-plan-advantages-item {
  border: 1px solid #E3E3E3;
  padding: 31px 32px 32px 32px;
  display: inline-block;
  width: 295px;
}


.busines-plan-advantages-content {
  min-height: 40px;
  padding-left: 58.5px;

}

.advantages-left {
  background: url(../img/advantages1.svg) 0 0 / 40px 40px no-repeat;
}

.advantages-right {
  background: url(../img/advantages2.svg) 0 0 / 40px 40px no-repeat;
}

.busines-plan-advantages-title {
  line-height: 1.5;
  margin-bottom: 3px;
}

.busines-plan-advantages-text {
  font-size: 16px;
  line-height: 1.35;
}

.busines-plan-button {
  padding: 22px 35px;
  background: #6B77E5;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
}


/*!================== секція 2 =============*/

.projects {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* відцентрований обмежуючий контейнер з відступами безпеки */
.projects-container {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  font-size: 0;
}

.projects-header {
  text-align: center;
  max-width: 852px;
  margin: 0 auto;
  margin-bottom: 47px;
}

.projects-sub-title,
.projects-title {
  margin-bottom: 14px;
}

/*! ================1-Варіант реалізації=============================================== */
/* варіант як зробити трішки простіше за допомогою класів та з відступами зліва на право */
/* .projects-body {} */
/* .projects-content {} */

.row-first {
  margin-bottom: 58px;
}

.projects-item {
  display: inline-block;
  width: 100%;
  max-width: 384px;
}

.projects-img {
  min-height: 501px;
  max-width: 100%;
  margin-bottom: 24px;
}


.projects-title {
  line-height: 1.27;
  margin-bottom: 10px;
}

.projects-date {
  padding-left: 25px;
  background: url(../img/calendar.svg) no-repeat;
  min-height: 22px;

  font-size: 14px;
  line-height: 1.46;
}

.item-first {
  margin-right: 34px;
}

.item-first .projects-img {
  background: url(../img/projects_img1.jpg) center/ cover no-repeat;
}

.item-second {
  margin-right: 34px;
}

.item-second .projects-img {
  background: url(../img/projects_img2.jpg) center/ cover no-repeat;
}

.item-third .projects-img {
  background: url(../img/projects_img3.jpg) center/ cover no-repeat;
}

.item-four {
  margin-right: 34px;
}

.item-four .projects-img {
  background: url(../img/projects_img4.jpg) center/ cover no-repeat;
}

.item-five {
  margin-right: 34px;
}

.item-five .projects-img {
  background: url(../img/projects_img5.jpg) center/ cover no-repeat;
}

.item-six .projects-img {
  background: url(../img/projects_img6.jpg) center/ cover no-repeat;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.row-first {
  margin-bottom: 58px;
}

.projects-item {
  display: inline-block;
  width: 100%;
  max-width: 384px;
}

.projects-img {
  min-height: 501px;
  max-width: 100%;
  margin-bottom: 24px;
}


.projects-title {
  line-height: 1.27;
  margin-bottom: 10px;
}

.projects-date {
  padding-left: 25px;
  background: url(../img/calendar.svg) no-repeat;
  min-height: 22px;

  font-size: 14px;
  line-height: 1.46;
}

.item-first,
.item-second,
.item-four,
.item-five {
  margin-right: 34px;
}

.item-first .projects-img {
  background: url(../img/projects_img1.jpg) center/ cover no-repeat;
}



.item-second .projects-img {
  background: url(../img/projects_img2.jpg) center/ cover no-repeat;
}

.item-third .projects-img {
  background: url(../img/projects_img3.jpg) center/ cover no-repeat;
}



.item-four .projects-img {
  background: url(../img/projects_img4.jpg) center/ cover no-repeat;
}


.item-five .projects-img {
  background: url(../img/projects_img5.jpg) center/ cover no-repeat;
}

.item-six .projects-img {
  background: url(../img/projects_img6.jpg) center/ cover no-repeat;
}

/*! ===========   2-Варіант реалізації ============================================================ */
/* .projects-body~.projects-body {
  margin-top: 58px;
}

.projects-item {
  display: inline-block;
  width: 100%;
  max-width: 384px;
}

.projects-item-img {
  height: 501px;
  max-width: 100%;
  margin-bottom: 24px;
}

.projects-item~.projects-item {
  margin-left: 34px;
}

.projects-item-img-1 {
  background: url(../img/projects_img1.jpg) center/ cover no-repeat
}

.projects-item-img-2 {
  background: url(../img/projects_img2.jpg) center/ cover no-repeat
}

.projects-item-img-3 {
  background: url(../img/projects_img3.jpg) center/ cover no-repeat
}

.projects-item-img-4 {
  background: url(../img/projects_img4.jpg) center/ cover no-repeat
}

.projects-item-img-5 {
  background: url(../img/projects_img5.jpg) center/ cover no-repeat
}

.projects-item-img-6 {
  background: url(../img/projects_img6.jpg) center/ cover no-repeat
}

.projects-item-title {
  line-height: 1.27;
  margin-bottom: 10px;
}

.projects-item-date {
  padding-left: 25px;
  background: url(../img/calendar.svg) no-repeat;
  min-height: 22px;

  font-size: 14px;
  line-height: 1.46;
} */

/*! Основні стилі секція 3/ 4  */
.fashion,
.clothing {
  font-family: 'Causten', sans-serif;
}

/* відцентрований обмежуючий контейнер з відступами безпеки */
.clothing-container,
.fashion-container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*!============== секція 3================== */

.clothing {
  padding-top: 53px;
  padding-bottom: 43px;
}

/* .clothing-container{} */

.clothing-container>* {
  padding-left: 21px;
}

.clothing-title {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #3C4242;
  margin-bottom: 30px;
  min-height: 31px;
  background: url(../img/decore.svg) no-repeat;
}

.clothing-title,
.clothing-button,
.clothing-sub-title {
  font-family: 'Core Sans C';
  font-weight: 700;
}

.clothing-button,
.clothing-sub-title,
.clothing-text {
  color: #807D7E;
  font-size: 20px;
  line-height: 1.67;
  letter-spacing: 0.4px;
}

.clothing-sub-title {
  margin-bottom: 25px;
}

.clothing-text {
  margin-bottom: 25px;
}


/* .clothing-text p{
  margin-bottom: 20px;
} */

.clothing-text p~p {
  margin-top: 20px;
}

.clothing-text span {
  font-weight: 700;
}

.clothing-button {
  display: inline-block;
}

/*!============== секція 4 ================== */

.fashion {
  padding: 100px 0;
  color: #fff;
}

/* .fashion-container {} */

.fashion-body {
  overflow: hidden;
  font-size: 0;
  border-radius: 10px;
}

.fashion-left,
.fashion-right {
  display: inline-block;
  min-height: 640px;
}

.fashion-left {
  max-width: 614px;
  padding: 183px 74px 175px;
  background: url(../img/fashion_img1.jpg) center/ cover no-repeat;
}

.fashion-right {
  vertical-align: top;
  max-width: 626px;
  width: 100%;
  height: 640px;
  background: url(../img/fashion_img2.jpg) center/ cover no-repeat;
}

.fashion-title {
  font-family: 'Core Sans C', sans-serif;
  font-weight: 900;
  font-size: 34px;
  letter-spacing: 0.2px;
  line-height: 1.47;
  margin-bottom: 18px;
}

.fashion-text {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 1.2;

}

.fashion-button {
  border-radius: 8px;
  padding: 12px 44px;
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  color: #3C4242;
  display: inline-block;
}