@import url("reset.css");
@import url("common.css");

body {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1.67;
	color: rgba(73, 80, 87, 0.5);
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
}

/* ============header================ */
/* .header {} */

.header__container {
	min-height: 100px;
	display: flex;
	align-items: center;
	line-height: 2.08;
}

.header__logo a {
	display: flex;
	justify-content: center;
	text-align: center;
}

.header__menu {
	flex: 1 1 100%;
}

.header__social {
	padding-right: 20px;
	border-right: 1px solid #E5E5E5;
	margin-right: 20px;
}

.social_nvis {
	display: none;
	opacity: 0;
	transition: all 400ms;
}

.header__search a {
	display: flex;
	justify-content: center;
}

/* for burger menu */
.header__burger {
	display: none;

}

.header__search,
.header__social,
.header__logo,
.header__menu {
	position: relative;
	z-index: 5;
}


/* ======adaptive============================================================== */

@media (max-width: 767.98px) {
	body.lock {
		overflow: hidden;
	}

	.header__container {
		justify-content: space-around;
		gap: 20px;
		font-size: 2rem;
		min-height: 60px;
		color: #F8F9FA;
	}

	.header__social {
		display: none;
		margin: 0;
		padding: 0;
		border: none;
	}

	.header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
	}

	.header::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		z-index: 2;
	}

	.header__burger {
		display: block;
		width: 35px;
		height: 25px;
		position: relative;
		z-index: 3;
	}

	.header__burger span,
	.header__burger::before,
	.header__burger::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background: rgba(73, 80, 87, 0.5);
		border-radius: 10px;
		transition: all 200ms ease-out 200ms;
	}

	.header__burger::before {
		top: 1px;
	}

	.header__burger span {
		top: 10.5px;
	}

	.header__burger::after {
		bottom: 1px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 130px 20px 20px 20px;
		overflow: auto;
		z-index: 2;
		transition: all 300ms;
	}

	.header__menu .menu__link_active {
		border-bottom: 2px solid #DDBEA9;
		color: #F8F9FA;
	}

	.header__menu .menu__items {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;
	}

	.header__menu.active .social_nvis {
		display: block;
		opacity: 1;
	}

	.header__menu.active {
		top: 0;
	}


	.social__items {
		display: flex;
		justify-content: center;
	}


	.header__burger.active::before {
		transform: rotate(45deg);
		top: 11px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 11px;
	}

	.header__burger.active span {
		transform: scale(0);
	}
}

/* ============intro================ */

.intro__container {
	overflow: hidden;
}

.swiper {
	max-width: 100%;
	max-height: 100%;
	color: #fff;
	font-weight: 300;
	font-size: 0.75rem;
	letter-spacing: 0.2em;
}

/* .swiper-wrapper {} */

.swiper-pagination {
	margin-bottom: 30px;

}

.swiper-pagination span:first-child {
	position: relative;
	padding-left: 54px;
	margin-right: -4px;
}

.swiper-pagination span:last-child {
	margin-left: -4px;
}

.swiper-pagination span:first-child::before {
	content: "";
	position: absolute;
	width: 44px;
	height: 0.5px;
	top: 50%;
	left: 0;
	background-color: #fff;
}

.swiper-slide__image {
	position: relative;
	padding-bottom: 40.4%;
	text-align: center;
}

.swiper-slide__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;

}

.swiper-slide__content {
	position: absolute;
	width: 100%;
	height: 100%;
	font-weight: 300;
	line-height: 1.67;
	color: #E5E5E5;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 1300ms ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.swiper-slide__sub-title {
	margin-bottom: 16px;
}

.swiper-slide__title {
	max-width: 400px;
	margin: 0 auto;
}

.intro:hover .swiper-slide__content {
	overflow: visible;
	opacity: 1;
}

/* ============================================ */

@media (max-width: 767.98px) {
	.intro__container {
		margin-top: 60px;
		padding: 0;
	}

	.swiper-slide__image {
		padding-bottom: 65%;

	}
}

@media (max-width: 500px) {
	.swiper-slide__image {
		padding-bottom: 80%;

	}

	.swiper-slide__title {
		font-size: 1.25rem;
	}

	.swiper-slide__sub-title {
		margin-bottom: 8px;
	}

}


/* ============trending================ */
/* .design {} */

.design__container {
	padding: 100px 15px 50px;
}

.design__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}

.design__title {
	max-width: 393px;
}

.design__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 31px;
	row-gap: 40px;
}

.design__column {
	flex: 1 1 31%;
}

.column-design *:last-child {
	margin-bottom: 0;
}

.column-design__image {
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 3px;
}

.column-design__image img {
	transition: all 900ms;

}

.design__column:hover .column-design__image img {
	transform: scale(1.2);

}

.column-design__date {
	font-weight: 300;
	color: #495057;
	margin-bottom: 15px;
}

.column-design__title {
	font-size: 1rem;
	line-height: 1.56;
	color: #212529;
}




.column-design__image {
	position: relative;
	padding-bottom: 63%;
}

.column-design__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: contain;

}

/* ============= */

@media (max-width: 1000px) {

	.design__menu .menu__items {
		row-gap: 16px;
		flex-wrap: wrap;
	}

	.design__column {
		flex: 1 1 45%;
	}
}

@media (max-width: 767.98px) {
	.design__container {
		padding: 50px 15px 25px;
	}

	.design__title {
		margin-bottom: 16px;
	}

	.design__head {
		flex-wrap: wrap;
	}
}

@media (max-width: 500px) {
	.design__column {
		flex: 1 1 100%;
	}

}

/* ============trending================ */
/* .trending {} */

.trending__container {
	padding: 50px 15px 100px;
}

.trending__head {
	margin-bottom: 45px;
}

/* .trending__title {} */

.trending__body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.trending__column {
	flex: 1 1 31%;
}

.trending__column_big {
	flex: 1 1 65%;
}

.column-trending {
	position: relative;
}

.column-trending__image {
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}

.column-trending__image img {
	transition: all 900ms;

}

.column-trending:hover .column-trending__image img {
	transform: scale(1.1);

}

.column-trending:hover .column-trending__absolute {
	overflow: visible;
	opacity: 1;
}

.column-trending__absolute {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	opacity: 0;
	transition: all 600ms ease-in;
}

.column-trending__absolute *:last-child {
	margin-bottom: 0;
}

.column-trending__date {
	margin-bottom: 15px;
	color: #E5E5E5;
}

.column-trending__title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.56;
	color: #F8F9FA;
	max-width: 293px;
}

.column-trending__title_big {
	max-width: 343px;
}

/* ==========adaptive======= */

@media (max-width: 850px) {
	.trending__column {
		flex: 1 1 45%;
	}

	.trending__column_big {
		flex: 1 1 100%;
	}
}

@media (max-width: 767.98px) {
	.trending__container {
		padding: 25px 15px 50px;
	}
}

@media (max-width: 530px) {
	.trending__column {
		flex: 1 1 100%;
	}

	.column-trending__image {
		padding-bottom: 114%;
		position: relative;
	}


	.trending__column_big .column-trending__image {
		padding-bottom: 55%;
		position: relative;
	}

	.column-trending__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
	}
}

/* ============footer========= */

.footer {
	background-color: #212529;
}

.footer__container {
	padding: 100px 15px;
	color: rgba(248, 249, 250, 0.5);
}

.footer__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	line-height: 2.08;
}

.footer__logo {
	display: flex;
	justify-content: center;
}

.footer__developer {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 530px) {
	.footer__row {
		justify-content: center;
		flex-direction: column;
		row-gap: 16px;
	}

}

/* .footer__menu {}

.footer__social {}

.footer__adress {}

.footer__copyright {} */