@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.125rem;
	line-height: 1.6;
	color: #9C9C9C;
}



.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.title-in {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.40;
	color: #333333;
}

@media (max-width:800px) {
	body {
		font-size: 1rem;
	}
}

@media (max-width:447.98px) {
	body {
		font-size: 0.875rem;

	}

	.title-in {
		font-size: 1.25rem;
	}
}

/* -----achievement------------ */

.page__achievement {
	padding-top: 100px;
	padding-bottom: 50px;
}

/* .achievement {} */

/* .achievement__container {} */

.achievement__title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5;
	color: #000000;
	position: relative;
	padding-right: 41%;
	margin-bottom: 40px;
	display: inline-block;
}

.achievement__title::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 10%;
	height: 2px;
	left: 136px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #000000;
	transition: width 700ms ease-in;
}



.achievement-body {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}


.achievement-body__image {
	text-align: center;
}

.achievement-body__image img {
	max-width: 100%;
	transition: transform 800ms ease-out 1s;
}

.achievement-body__row:hover .achievement-body__image img {
	transform: scale(1.02);
}

/* .achievement-body__content {} */

.achievement-body__content>:not(:last-child) {
	margin-bottom: 20px;
}

.achievement-body__title {
	position: relative;
	display: inline-block;
}

.achievement-body__title::after {
	content: '';
	position: absolute;
	display: block;
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transition: width 500ms ease;
}

.achievement-body__row:hover .achievement-body__title::after {
	width: 100%;

}

@media(max-width:860px) {
	.page__achievement {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	.achievement-body__image {
		margin-bottom: 15px;
	}

	.achievement-body {
		row-gap: 30px;
	}

	.achievement__title {
		margin-bottom: 20px;
	}

	.achievement-body__content>:not(:last-child) {
		margin-bottom: 13px;
	}

	.achievement__title::after {
		width: 70%;
	}
}

@media(max-width:447.98px) {
	.page__achievement {
		padding-top: 30px;
		padding-bottom: 15px;
	}
}

@media(min-width:860px) {
	.achievement-body__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}

	.achievement-body__image {
		flex: 0 1 62.166667%;
		text-align: center;
		opacity: 0.3;
		transform: translateX(-10%);
		transition: transform 1s ease, opacity 500ms ease;
	}

	.achievement-body__content {
		flex: 0 1 28.632479%;
		transform: translateX(10%);
		opacity: 0.3;
		transition: transform 1s ease, opacity 500ms ease;
	}

	.achievement-body__row:hover .achievement-body__image {
		transform: translateX(0%);
		opacity: 1;
	}

	.achievement-body__row:hover .achievement-body__content {
		transform: translateX(0%);
		opacity: 1;
	}

	.page__achievement:hover .achievement__title::after {
		width: 77%;
	}
}

/* -----achievement------------ */

.page__minimalist {
	padding-top: 50px;
	padding-bottom: 100px;
}

.minimalist__head {
	margin-bottom: 100px;
}

/* .minimalist {} */
/* .minimalist__container {} */
/* .minimalist-head {} */



.minimalist-head__content {
	color: #000000;
	text-align: center;
	max-width: 522px;
	margin: 0 auto;
	margin-bottom: 53px;
}

.minimalist-head__title {
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 1.4;
	margin-bottom: 40px;
}

/* .minimalist-head__sub-title {} */
.minimalist-head__image {
	text-align: center;
}

.minimalist-head__image img {
	max-width: 100%;
}

@media(max-width:860px) {
	.page__minimalist {
		padding-top: 25px;
		padding-bottom: 50px;
	}

	.minimalist__head {
		margin-bottom: 50px;
	}

	.minimalist-head__content {
		margin-bottom: 30px;
	}



	.minimalist-head__title {
		font-size: 2.5rem;
		margin-bottom: 25px;
	}
}

@media(max-width:447.98px) {
	.minimalist__head {
		margin-bottom: 30px;
	}

	.minimalist-head__content {
		margin-bottom: 20px;
	}

	.page__minimalist {
		padding-top: 15px;
		padding-bottom: 30px;
	}

	.minimalist-head__title {
		font-size: 2rem;
		margin-bottom: 15px;
	}
}

@media(min-width:860px) {
	.minimalist__head {
		opacity: 0.5;
		transition: opacity 700ms ease;
	}

	.minimalist__head:hover {
		opacity: 1;
	}
}

/* ================== */
/* .minimalist-content {} */
/* .minimalist__content {} */

/* .minimalist-content__column {} */


.minimalist-content__title h4 {
	margin-bottom: 24px;
	display: inline-block;
	position: relative;
}

.minimalist-content__title h4::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transition: width 500ms ease;
}

.minimalist-content__column:hover .minimalist-content__title h4::after {
	width: 100%;

}

.minimalist-content__column_left p {
	margin-bottom: 60px;
}

.minimalist-content__column_right p:not(:last-child) {
	margin-bottom: 30px;
}

@media(max-width:860px) {
	.minimalist-content__title {
		margin-bottom: 18px;
		text-align: center;
	}

	.minimalist-content__column_left p {
		margin-bottom: 30px;
	}

	.minimalist-content__column:not(:last-child) {
		margin-bottom: 30px;
	}

	.minimalist__content {
		margin-bottom: 50px;
	}

	.minimalist-content__title h4 {
		display: block;

	}
}

@media(max-width:447.98px) {
	.minimalist-content__column:not(:last-child) {
		margin-bottom: 20px;
	}

	.minimalist-content__column_left p {
		margin-bottom: 20px;
	}

	.minimalist-content__column_right p:not(:last-child) {
		margin-bottom: 15px;
	}

	.minimalist__content {
		margin-bottom: 30px;
	}
}

@media(max-width:550px) {
	.minimalist-content__option :not(:last-child) {
		margin-bottom: 10px;

	}
}

@media(min-width:860px) {
	.minimalist__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px 80px -16px;
	}

	.minimalist-content__column {
		flex: 0 1 50%;
		padding: 0 16px;
		display: flex;
		flex-direction: column;
		opacity: 0.3;
		transition: transform 300ms ease-in, opacity 500ms ease-out 200ms;
	}

	.minimalist-content__text {
		flex: 1 1 auto;
	}

	.minimalist-content__column_left {
		transform: translate(-20%);
	}

	.minimalist-content__column_right {
		transform: translate(20%);
	}

	.minimalist__content:hover .minimalist-content__column {
		transform: translateX(0);
		opacity: 1;
	}

}

@media(min-width:550px) {
	.minimalist-content__option {
		display: flex;
		flex-wrap: wrap;
		column-gap: 80px;
		row-gap: 10px;
	}
}

/* .minimalist-content__text {
} */

/* .minimalist-content__option {
} */
/* .minimalist-content__date {} */

/* .minimalist-content__type {} */
/* =======gallery======== */

/* .minimalist-gallery {} */
/* .minimalist__gallery {}

.minimalist__gallery{}
.minimalist-gallery__image {}

.minimalist-gallery__image_big {} */

.minimalist-gallery__image {
	text-align: center;
}

.minimalist-gallery__image img {
	max-width: 100%;
	transition: transform 800ms ease-out;
}

.minimalist-gallery__image:hover img {
	transform: scale(1.05);
}

@media(max-width:600px) {
	.minimalist__gallery :not(:last-child) {
		margin-bottom: 10px;
	}


	.minimalist-gallery__image {
		position: relative;
		padding-bottom: 87.842466%;
	}


	.minimalist-gallery__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;

	}

	.minimalist-gallery__image_big img {
		object-position: center left;
	}

}

@media(min-width:600px) {
	.minimalist__gallery {
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		margin: 0 -8px;
	}

	.minimalist-gallery__image {
		flex: 1 1 50%;
		padding: 0 8px;
		overflow: hidden;
	}

	.minimalist-gallery__image_big {
		flex: 1 1 100%;
	}
}

@media(min-width:767.98px) {
	.minimalist__gallery {
		row-gap: 32px;
		margin: 0 -16px;
	}

	.minimalist__gallery>* {
		opacity: 0.3;
		transition: transform 500ms ease-in,
			opacity 800ms ease-out;
	}

	.minimalist__gallery>:nth-child(3n+1) {
		transform: translateX(-30%);
	}

	.minimalist__gallery>:nth-child(3n-1) {
		transform: translateX(30%);
	}

	/* .minimalist__gallery>:nth-child(3) {
		transform: translateY(50%);
	} */

	.minimalist__gallery:hover>* {
		transform: translate(0, 0);
		opacity: 1;
	}


}


/* ============= */

.next {
	padding: 30px 0;
}

.next__link {
	display: block;
	max-width: 150px;
	width: 100%;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	border-radius: 4px;
	transition: color 500ms linear, background-color 600ms ease-in-out, border 400ms ease;
	border: 1px solid transparent;
}

.next__link:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid rgba(156, 156, 156, 0.5);
}