@import url("reset.css");

/* загальні стилі */
body {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	color: #6C757D;
}

[class*="-container"] {
	max-width: 840px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}

.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.60;
	color: #212529;
	margin-bottom: 40px;
}

.content>p:not(:last-child) {
	margin-bottom: 23px;
}

/* або, тільки закоментувати padding header,
 main, footer які зараз діючі */
/* .content p {
	margin-bottom: 23px;
}
.header,
.main,
.footer {
	padding-top: 40px;
	padding-bottom: 17px;
} */

.footer-images,
.main-image {
	margin-bottom: 80px;

}

.footer-images img,
.main-image img {
	border-radius: 5px;
	max-width: 100%;
	font-size: 0;
}

.footer-images,
.main-image {
	font-size: 0;
}

/*=====header==================================================  */
/* .header-container {}
.header-content {} */
.header {
	padding: 15px 0 40px;
}

.header-title {
	max-width: 400px;
}

/*=====main==================================================  */

.main {
	max-width: 1240px;
	margin: 0 auto;
	padding: 40px 0;
	overflow: hidden;
}

/* 
.main-container {}
.main-content {} */
.main-image {
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

.main-title {
	max-width: 600px;
}

/*=====footer==================================================  */
/* .footer-images {}
.footer-container {}
.footer-content {} */

.footer {
	max-width: 1240px;
	margin: 0 auto;
	padding: 20px 0 60px;
	overflow: hidden;
}

.footer-images {
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}

/* margin-top: 20px; щоб при адаптиві не злипались картинки */
.footer-images img {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

/* або так, але воно при адаптиві 
буде не красиво ламатись
.footer-images {
	text-align: center;
}

.footer-images img {
	margin: 0 30px 0 0;
}

.footer-images img+img {
	margin: 0;
} */


/*=====поза макетом==================================================  */
.body__link {
	text-align: center;
}

.body__link a {
	display: inline-block;
	color: #212529;
	padding: 15px;
	border: 1px solid #6C757D;
	border-radius: 30px;

}